.DS_Store
._.DS_Store
system/config/local.config.php
system/lib/smarty/tmpl_c/*
system/lib/smarty/tmp*
system/log/*
system/lib/api.base/*
/files/*
cron/migration/*
/admin/log/*
/vendor
js/*
css/*
.idea/*
files/profile
_maintenance
/.user.ini
0
/FullDB.sql
info.php
test.*
#system/config/*
/md_available
/token.json
/credentials.json
/flags/*.flag
/node_modules
/docker/mysql_data
/docker/.env
/docker/dump
.env
log